@import "assets/variables/light.scss";
.vip-heading {
    font-size: $fs_7xl;
    color: $heading-color;
}
.vip-desc {
    font-size: $fs_md;
    color: $heading-color;
}
.vip-note {
    font-size: $fs_md;
    color: $text-grey;
}

.vip-header {
    background-image: url("/images/vip-bg.png");
    padding: 28px 0 17px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#vip {
    .vip-orange-card {
        background: #fafafa;
        border-radius: 10px;
        min-height: 222px;
        .spot-fee {
            font-size: $fs-base;
            color: $heading-color;
        }
        .maker {
            font-size: $fs_md;
            color: $heading-color;
        }
        .maker1 {
            text-decoration: line-through;
            font-size: $fs_2xl;
            color: #718096;
        }
        .percent {
            font-size: $fs_2xl;
            color: $heading-color;
        }
        .user-vip-icon {
            object-fit: cover;
        }
        .user-id {
            font-size: $fs_2xl;
            line-height: 25px;
            color: $heading-color;
        }
        .user-uid {
            font-size: $fs_md;
            color: $text-grey;
        }
        .vip-detail-txt {
            font-size: $fs_md;
            color: $heading-color;
        }
        .vip-tag {
            height: 45px;
            font-size: $fs_8xl;
            color: $primary-color;
            line-height: 45px;
            background: rgba(255, 165, 0, 0.15);
            border: none;
            border-radius: 100px;
            padding: 0 22px;
        }
    }
    .vip-main-card {
        background: #ffffff;
        border: 0.6px solid #f2f2f2;
        border-radius: 10px;
        .ant-card-body {
            padding: 0;
            .recharge-txt {
                font-size: $fs-base;
                color: $heading-color;
            }
            .vip-deivider {
                background: #f2f2f2;
                height: 0.6px !important;
                width: 1px !important;
                top: 0em !important;
            }
            .ant-slider {
                margin: 10px 0;
                .ant-slider-rail {
                    background: #F7F8FB;
                    border-radius: 100px;
                    height: 3px;
                }
                .ant-slider-step {
                    height: 3px;
                }
                .ant-slider-track {
                    background: $primary-color;
                    border-radius: 100px;
                    height: 3px;
                }
                .ant-slider-handle {
                    margin-top: -3px;
                    display: none;
                }
            }
            .gray-usdt-btn {
                background: #fafafa;
                border-radius: 40px 0 0 40px;
                padding: 11px 19px;
                font-size: $fs_sm !important;
                color: $heading-color !important;
            }
            .usdt-price {
                font-size: $fs_sm;
                color: #344054;
            }
            .progress-txt {
                font-size: $fs_xs;
                color: $text-grey;
                span {
                    font-size: $fs-base;
                    color: $heading-color;
                }
            }
            .card-desc {
                font-size: $fs_sm;
                line-height: 22px;
                min-height: 45px;
                color: $heading-color;
            }
        }
        .vip-primary-btn {
            border-radius: 8px;
            border: 1px solid #d0d5dd;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            color: $heading-color;
            font-size: $fs-base !important;
            &:hover {
                background-color: $primary-color;
                color: $white;
                border: none;
            }
        }
    }
    .middle-txt {
        font-size: $fs-base;
        color: $primary-color;
    }

    .tabs-card {
        .ant-card-body {
            .ant-tabs-nav-wrap {
                padding: 0 !important;
            }
            .ant-tabs-bar {
                margin-bottom: 24px;
            }
            .ant-table-tbody tr:last-child td {
                border-bottom: none !important;
            }
            .ant-table-thead > tr:first-child > th:first-child {
                padding-left: 5px !important;
            }
            .ant-table-tbody > tr > td:first-child {
                padding-left: 5px !important;
            }
            .ant-table-thead > tr > th {
                background-color: #ffffff;
                color: #9b9a9a;
                border-bottom: none;
            }
            .ant-table-thead
                > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
                > td,
            .ant-table-tbody
                > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
                > td,
            .ant-table-thead
                > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
                > td,
            .ant-table-tbody
                > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
                > td {
                background-color: #fff !important;
            }
            .ant-table-tbody > tr > td {
                border-bottom: 1px solid #f2f2f2 !important;
            }
            .ant-tabs-nav .ant-tabs-tab:first-child {
                margin-left: 25px;
            }
            .ant-table-pagination.ant-pagination {
                margin-right: 16px;
            }
            .wing-token {
                font-size: $fs_xmd;
                color: #afafaf;
                padding-left: 10px;
            }
        }
    }
    .exclusive-benefits {
        .exclusive-card {
            .ant-card-body {
                padding: 0;
            }

            .vip-detail-card {
                background-color: #ffffff;
                .ant-card-body {
                    padding: 30px 24px;
                    .welcome-txt {
                        font-size: $fs_2xl;
                        color: $heading-color;
                        line-height: 25px;
                    }
                    .welcome-txt-desc {
                        font-size: $fs_sm;
                        color: $heading-color;
                        line-height: 30px;
                        min-height: 90px;
                    }
                    .chat-now {
                        font-size: $fs_md;
                        color: $text-grey;
                        cursor: pointer;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .exclusive-vip-benefits {
            background-image: url("/images/exclusive-benefits.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 60px 0;
        }
    }
    @media screen and (max-width: 1280px) {
        .vip-heading {
            font-size: $fs_2xl;
        }
        .vip-desc {
            font-size: $fs_xmd;
        }
        .vip-note {
            font-size: $fs_xmd;
        }
        .vip-orange-card .vip-tag {
            font-size: $fs_lg;
        }
        .vip-main-card .ant-card-body {
            .recharge-txt {
                font-size: $fs_sm;
            }
            .orange-usdt-btn {
                height: 38px !important;
                .usdt-price {
                    font-size: $fs_xs;
                }
            }
            .card-desc {
                font-size: $fs_xs;
            }
        }
        .vip-orange-card {
            min-height: 200px;
            .user-id {
                font-size: $fs_sm;
            }
            .user-uid {
                font-size: $fs_xxs;
            }
            .user-vip-uid {
                height: 62px;
                width: 62px;
            }
            img {
                height: 42px;
                width: 42px;
            }
            .user-vip-icon {
                height: 52px;
                width: 52px;
            }
            .percent {
                font-size: $fs_lg;
            }
            .maker {
                font-size: $fs_xs;
            }
            .vip-detail-txt {
                font-size: $fs_xmd;
            }
        }
        .exclusive-benefits {     .exclusive-vip-benefits {
            padding: 40px 0;
        } .exclusive-card .vip-detail-card .ant-card-body {
            .welcome-txt {
                font-size: $fs_lg;
            }
            .welcome-txt-desc {
                font-size: $fs_xmd;
                min-height: 90px;
            }
            .chat-now {
                font-size: $fs_xmd;
            }
        }
        }
    }
    @media screen and (max-width: 1024px) {
        .vip-orange-card {
            .ant-card-body {
                padding: 15px;
            }
        }
        .exclusive-benefits {
            .exclusive-vip-benefits {
                padding: 20px 0;
            }
            .exclusive-card .vip-detail-card .ant-card-body {
                .detail-list-img {
                    height: 45px;
                    width: 45px;
                }
                .welcome-txt {
                    font-size: $fs_sm_base;
                }
            }

            .vip-orange-card {
                .percent {
                    font-size: $fs-base;
                }
            }
        }
    }
}
@media screen and (max-width: 1280px) {
    .vip-heading {
        font-size: $fs_2xl;
    }
    .vip-desc {
        font-size: $fs_xmd;
    }
    .vip-note {
        font-size: $fs_xmd;
    }
}
#vip-modal {
    .steps-heading {
        font-size: $fs_4xl;
        line-height: 30px;
        color: #111827;
    }
    .steps-detail {
        font-size: $fs_sm;
        color: #000000;
        line-height: 21px;
    }
    .ant-modal-content {
        box-shadow: 0px 20px 136px -4px rgba(16, 24, 40, 0.1),
            0px 8px 8px -4px rgba(16, 24, 40, 0.04);
        border-radius: 12px;
    }
}
