@import "assets/variables/light.scss";
#subscription-modal {
    form .ant-input-number-handler-wrap {
        display: none;
    }

    .ant-modal-close {
        display: none !important;
    }

    .profit-icon-btc {
        margin-bottom: 3px;
    }

    .ant-modal-body {
        padding: 24px 20px;
    }

    .financial-card {
        border: 1px solid #f1f1f1;
        border-radius: 12px;

        .ant-card-body {
            padding: 24px 12px;
        }
    }

    .all-transfer-txt {
        border: 1px solid #d0d5dd;
        height: 38px;
        border-left: none;
        border-radius: 0 6px 6px 0;
        line-height: 38px;
        color: $text-grey;

        &:hover {
            color: $primary-color;
        }
    }

    .subscription-title {
        font-size: $fs_lg;
        color: $heading-color;
    }

    .accruing-txt {
        font-size: $fs_md;
        color: $heading-color;
    }

    .accruing-date {
        font-size: $fs_sm;
        color: $text-grey;
    }

    .tip-card {
        background: rgba(217, 217, 217, 0.17);
        border-radius: 12px;

        .ant-card-body {
            padding: 12px 10px;

            .tip-title {
                font-size: $fs_sm;
                color: $heading-color;
            }

            .tip-title-desc {
                font-size: $fs_sm;
                color: $text-grey;
            }
        }
    }

    .subscription-modal-bg {
        background: url("/images/financial-modal-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 30px 0;
    }

    .amount-blance {
        font-size: $fs_sm;
        color: $heading-color;
    }

    .product-type {
        font-size: $fs_xmd;
        color: $text-grey;
    }

    .hybrid-txt {
        color: $heading-color;
        font-size: $fs-base;
    }

    .profit-coin {
        color: $text-grey;
        font-size: $fs_xmd;
    }

    label.ant-radio-button-wrapper {
        font-size: 10px !important;
        margin-right: 13px;
        height: 35px;
        line-height: 35px;
        background: #ffffff;
        border: 0.5px solid #e4e4e4;
        border-radius: 3px;
    }

    label.ant-radio-button-wrapper:last-child {
        margin-right: 0 !important;
    }

    .ant-radio-button-wrapper:not(:first-child)::before {
        background-color: transparent;
        width: 0;
    }

    .ant-tabs-bar {
        border: none;
    }

    .subscribe-divider {
        background-color: #eeeeee !important;
        width: 1px !important;
        height: 0.6px !important;
        top: 0em !important;
    }

    .btc-box {
        background: #fafafa;
        border-radius: 6px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
        max-width: 130px;
        color: #cacaca;
        width: 100%;
    }

    .btc-box1 {
        max-width: 66px !important;
    }

    .subscription-rules {
        max-width: max-content;
    }

    .deposit-txt {
        display: flex;
        justify-content: flex-end;
        font-weight: 400;
        font-size: $fs_sm;
        color: #afafaf;
    }

    .btc-usdt-btn {
        height: 30px;
        font-size: $fs_sm;
        color: $black;

        &:hover {
            background-color: #fff !important;
        }
    }

    .usdt-btn {
        height: 30px;
        font-size: $fs_sm;
        color: #cacaca;
        background: transparent;
    }

    .outline-btn {
        height: 36px !important;
    }

    .deposit-btn {
        height: 27px;
        width: 100px;
        color: $black;
        border: none;
        background: #d9d9d9;
        border-radius: 0;
        font-weight: 300;
        font-size: $fs_xs;
    }

    .buy-btn {
        background: #f8d0a0;
    }

    .subscription-desc {
        font-weight: 400;
        font-size: $fs_xs;
        color: #262626;
    }

    .subscription-input.ant-input-number {
        border-radius: 8px 0 0 8px !important;
    }

    .ant-modal-content {
        background: #ffffff;
        border-radius: 12px;

        .ant-tabs-nav .ant-tabs-tab {
            margin-right: 10px;
            padding: 12px 0 6px 0;
        }

        .product-info {
            font-weight: 400;
            font-size: $fs-base;
            color: $black;
        }

        .product-locked {
            font-weight: 400;
            font-size: $fs_xs;
            color: $black;
        }

        .financing {
            color: #9b9a9a;
        }
    }

    //steps
    .ant-steps-item-title {
        font-weight: 400;
        font-size: $fs_xs;
        line-height: 20px;
    }

    .ant-steps-item-description {
        font-weight: 400;
        font-size: $fs_xs;
        color: #9b9a9a;
    }

    .ant-steps-item-wait .ant-steps-item-icon {
        background-color: #d9d9d9;
        border-color: #d9d9d9;
    }

    .ant-steps-item-wait .ant-steps-item-icon>.ant-steps-icon {
        color: $black;
    }

    .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-tail {
        top: 11px;

        &:after {
            background-color: #000000;
            height: 6px;
        }
    }

    .ant-steps-item-finish .ant-steps-item-icon {
        background-color: $primary-color;
    }

    i.anticon.anticon-check.ant-steps-finish-icon {
        color: $black;
    }

    .ant-steps-item-process .ant-steps-item-icon {
        background-color: #d9d9d9;
        border-color: #d9d9d9;

        .ant-steps-icon {
            color: $black;
        }
    }

    .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-tail {
        top: 11px;

        &:after {
            background-color: #000000;
            height: 6px;
        }
    }

    .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail.ant-steps-item-tail {
        top: 11px;

        &:after {
            background-color: $primary-color;
            height: 6px;
        }
    }

    .ant-steps-label-vertical .ant-steps-item-tail {
        padding: 3.5px 16px;
        border-radius: 5px;
    }

    .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
        color: $black;
    }
}