@use "assets/variables/light.scss" as *;

#new-download {
    background-color: #fff;
    .mt-10 {
        margin-top: 100px;
    }
    .mt-6 {
        margin-top: 60px;
    }
    .download-desc {
        font-size: $fs-base;
        line-height: 23px;
    }
    .download-bg {
        background: url("/images/newdownload-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 86px 0 225px 0;
        position: relative;
        .download-heading {
            font-size: $fs_14xl;
            line-height: 46px;
        }

        label.ant-radio-button-wrapper {
            width: 188px;
            height: 40px;
            border: none;
            font-size: 1rem;
            color: $heading-color;
            font-weight: 500;
            margin-right: 20px;
            border-radius: 100px !important;
            &:hover {
                color: $heading-color;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .ant-radio-button-wrapper:not(:first-child)::before {
            background-color: #fff;
        }
        label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
            border-radius: 100px !important;
            background-color: $primary-color !important;
            color: #fff;
        }
    }
    .app-download {
        max-width: 1053px;
        width: 100%;
        margin: -113px auto 0 auto;
        .trade-on {
            font-size: $fs_12xl;
            line-height: 43px;
        }
        .app-text {
            font-size: $fs_2xl;
            line-height: 29px;
        }
        .app-box {
            border: 1px solid #e2e5e9;
            border-radius: 4px;
            &:hover {
                background: $light-grey-bg;
            }
            .ant-card-body {
                padding: 13px 20px;

                .app-sec-text {
                    font-size: 12px;
                    color: $text-grey;
                }
            }
        }
    }
    .why-choose-bitnasdaq {
        background-color: #fafafa;
        padding: 60px 0 67px 0;
        margin-top: 73px;
        .choose-bitnasdaq-txt {
            font-size: $fs_14xl;
            line-height: 46px;
            margin-bottom: 33px;
        }
        .list-card {
            background: transparent !important;
            margin-right: 78px;
            &:last-child {
                margin-right: 0px;
            }
            .ant-card-body {
                padding: 42px 25px;
                .list-title {
                    font-size: $fs_2xl;
                    line-height: 22px;
                    margin-top: 30px;
                    margin-bottom: 15px;
                }
                .list-desc {
                    font-size: 1rem;
                    line-height: 22px;
                }
            }
        }
    }
    .download-btn-sec {
        display: none;
    }
    @media screen and (max-width: 1024px) {
        .app-download {
            padding: 0 20px;
            .right-img {
                width: 100%;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .download-bg {
            padding: 50px 0 175px 0;
            .ant-radio-group {
                margin-top: 50px !important;
            }
        }
        .app-download {
            .text-black {
                text-align: center;
            }
            .app-list {
                display: none;
            }
        }

        .app-download { 
            .right-img {
            margin-top: 30px;
        }
    }
        .download-btn-sec {
            display: block !important;
            position: fixed;
            bottom: 0;
            overflow: hidden;
            z-index: 9;
            background: #fff;
            left: 0;
            right: 0;
            .mob-btn {
                display: flex;
                align-items: center;
                border: 1px solid #E2E5E9;
                padding: 8px 15px;
                justify-content: center;
                border-radius: 4px;
                filter: drop-shadow(0 -4px 24px rgba(23,56,153,.08));
                .btn-desc {
                    font-size: $fs_xs;
                    color: $text-grey;
                }
            }
        }
    }
    
    @media screen and (max-width: 575px) {
    .download-bg label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked { 
        border-radius: 0 !important;
        background: transparent !important;
        border-bottom: 2px solid $primary-color;
        color: $heading-color !important;
        box-shadow: none !important;

    }
    .google-auth {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
    .app-download { 
        .trade-on {
            margin-bottom: 15px !important;
        }
        .right-img {
        margin-top: 30px;
    }
}
    .download-bg {
        padding: 50px 0px 165px 0;
         label.ant-radio-button-wrapper {
            width: 160px;
            color: $text-grey !important;
            margin-right: 10 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
         }
    }
    .why-choose-bitnasdaq {
        background-color: #fff;
        padding: 3px 0 67px 0;
        .choose-bitnasdaq-txt { 
            margin-bottom: 27px;
        }
    }
}
}
.ios-popover {
    width: 180px !important;
    height: 180px !important;
    border: none !important;
    .ant-popover-content {
        background: rgba(255, 165, 0, 0.08);
        border-radius: 12px;
        text-align: center !important;
        border: none !important;

        .ant-popover-inner {
            background: #fff0d6 !important;
            border-radius: 12px !important;
            border: none !important;
            box-shadow: none !important;
        }
    }
    .ant-popover-inner-content {
        padding: 0;
    }
}
