@use "assets/variables/light.scss";

#wallet-address {
    .wallet-address-heading {
        font-size: $fs_2xl;
        color: $heading-color;
    }
    .address-book-card {
        .ant-card-body {
            padding: 24px;
        }
    }
    .wallet-address-card {
        .outline-btn {
            height: 38px !important;
        }
        .ant-card-body {
            padding: 0;
}
}
    .address-book {
        font-size: $fs_xmd;
        color: $text-grey;
    }
    .light-blue-btn {
        background: #F7F9FC;
        border-radius: 3px;
        color: #6978A0;
        font-size: $fs_sm;
    }
    .edit-txt {
        color: #B0B7C3;
    }
}
