@import "assets/variables/light.scss";

#side-bar {
  
    .side-menu {
        height: 100%;
        background: #fff;
        border-radius: 6px !important;
        padding: 5px 0;
        .ant-menu-inline {
            border-right: none;
        }
        .ant-menu {
            background-color: #fff !important;
            color: $heading-color;
            border-radius: 6px !important;
            padding: 0px 5px;
            li.ant-menu-item {
                color: $heading-color;
                font-size: $fs_md;
                font-weight: 500;
                padding-left: 0px !important;
                height: 45px !important;
                line-height: 45px !important;
            }
            .ant-menu-item > a {
                color: $heading-color !important;
            }
            .p2p-account-txt {
                color: $heading-color !important;
            }
            .sidebar-icon {
                margin-right: 10px;
                width: 20px;
                height: auto;
                margin-bottom: 3px;
            }
            .ant-menu-inline .ant-menu-item::after {
                border: none;
            }
            .ant-menu-submenu-title {
                padding-left: 20px !important;
                margin-right: 26px !important;
                height: 50px;
                line-height: 50px;
                // margin-top: 15px;
                &:active {
                    background-color: #fff;
                }
            }
            .ant-menu-inline .ant-menu-item:not(:last-child) {
                margin-bottom: 5px;
            }
            li.ant-menu-item.ant-menu-item-selected {
                padding-left: 12px !important;
            }
            li.ant-menu-item.ant-menu-item-selected a {
                color: $heading-color !important;
            }
            .ant-menu-inline .ant-menu-item {
                padding-left: 12px !important;
            }

            .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
                // background-color: rgba(255, 243, 229, 0.45);
                background-color: $light-grey-bg;
                height: 45px !important;
                line-height: 45px !important;
                border-radius: 10px;
            }
            li.ant-menu-item:hover {
                // background-color: rgba(255, 243, 229, 0.45);
                background-color: $light-grey-bg;
                border-radius: 10px;

            }
            .ant-menu-item a:active {
                color: $heading-color !important;
            }
            .ant-menu-item a:hover {
                color: $heading-color !important;
            }
            .ant-menu-submenu-selected {
                color: $heading-color;
            }
            i.ant-menu-submenu-arrow {
                color: $heading-color;
            }
            .ant-menu-submenu-title:hover {
                color: $heading-color;
            }

            .ant-menu-sub.ant-menu-inline > .ant-menu-item {
                height: 30px;
                line-height: 30px;
            }
            .ant-menu-item:active {
                background-color: #fff;
            }

            li.ant-menu-item.ant-menu-item-selected {
                color: $heading-color;
            }
            .ant-menu-item.ant-menu-item-selected a {
                color: $heading-color;
                font-size: $fs_md;
            }
            .ant-menu-submenu-title {
                font-size: $fs_lg !important;
                font-weight: 600 !important;
            }
            .sub-item {
                font-size: $fs_lg;
            }

            .ant-menu-submenu-inline
                > .ant-menu-submenu-title:hover
                .ant-menu-submenu-arrow::after {
                background: linear-gradient(to right, #4e557b, #4e557b);
            }

            .ant-menu-submenu-inline
                > .ant-menu-submenu-title:hover
                .ant-menu-submenu-arrow::before {
                background: linear-gradient(to right, #4e557b, #4e557b);
            }

            .ant-menu-submenu-inline
                > .ant-menu-submenu-title
                .ant-menu-submenu-arrow::after {
                background: linear-gradient(to right, #4e557b, #4e557b);
            }

            .ant-menu-submenu-inline
                > .ant-menu-submenu-title
                .ant-menu-submenu-arrow::before {
                background: linear-gradient(to right, #4e557b, #4e557b);
            }

            .ant-menu-submenu-active {
                color: #4e557b;
            }
        }
    }
    .help-sidebar {
        .ant-menu-inline .ant-menu-item::after {
            border-right: none !important;
            left: 0;
        }
        .ant-menu li.ant-menu-item.ant-menu-item-selected {
            padding-left: 47px !important;
        }
        .ant-menu .ant-menu-inline .ant-menu-item { 
            padding-left: 48px !important;

        }
        .ant-menu {
            li.ant-menu-item.ant-menu-item-selected a {
                color: $primary-color !important;
            }
            li.ant-menu-item {
                padding-left: 25px !important;
            }
        }
    }
    @media screen and (max-width: 1200px) {
        .side-menu { .ant-menu li.ant-menu-item { 
            font-size: $fs_sm;
        }
        .ant-menu .ant-menu-submenu-title { 
            font-size: $fs_xmd !important;
        }
        .ant-menu .ant-menu-item.ant-menu-item-selected a { 
            font-size: $fs_sm;

        }
        .ant-menu .sub-item { 
            font-size: $fs_xmd;

        }
    }
    }
    @media screen and (max-width: 1024px) {
        .side-menu { .ant-menu li.ant-menu-item { 
            font-size: $fs_xs;
        }
        .ant-menu .ant-menu-item.ant-menu-item-selected a { 
            font-size: $fs_xs;

        }
     .sidebar-icon { 
        width: 15px;
     }
    }
    }
}
