@import "assets/variables/light.scss";

#strategy-exchange-horizental {
    background-color: #12181D;

    .ant-tabs.ant-tabs-top.ant-tabs-line {
        width: 100%;
    }
    .strategy-form{
        .ant-tabs-bar{
            border-bottom: none !important;
        }
    }
    .investment-txt {
        color: #FFF;
        font-size: $fs_md;
    }
.strategy-tab-opened {
    .clearfix.exchange-block_profit-loss {
        max-height: 356px !important;
    }
}
    .ant-tabs-nav.ant-tabs-nav-animated {
        width: 48.2% !important;
        background: #0C1014 !important;
        border-radius: 0px !important;
        padding: 5px 12px 6px 7px;
        border-radius: 6px !important;

        .ant-tabs-tab {
            width: 49.5%;
            padding: 5px 11px !important;
            background-color: transparent;
            color: $cl_ADB1B8;
        }

        .ant-tabs-tab-active.ant-tabs-tab {
            padding: 5px 11px !important;
            background-color: #222930 !important;
            border-radius: 4px !important;
            margin-right: 20px !important;
        }

    }

    .ant-tabs-nav-wrap {
        padding: 24px 20px 0 20px !important;
    }
    .ant-tabs-nav .ant-tabs-tab{
        margin-right: 10px !important;
        font-size: 16px;
    }
    .ant-tabs-nav .ant-tabs-tab:first-child {
        margin-left: 0 !important;
    }

    .ant-tabs-tab:last-child {
        margin-right: 0 !important;
    }

    .ant-tabs-tab-active.ant-tabs-tab {
        background: #0C1014 !important;
        border-radius: 0px !important;
        color: #ffffff !important;
        font-size: 16px;

    }

    .price-range {
        font-size: $fs_xs;
        color: $white;
        line-height: 16px;
    }

    .gray-price-txt {
        color: $cl_71757A !important;
    }

    .ant-input {
        background-color: #171B23;
        border-color: #171B23;
        border-radius: 4px;
        color: #B7BDC6;
    }

    input[type="number"] {
        color: $white;
        font-size: $fs_xs;
    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        background-color: #19222C !important;
        border-radius: 3px;
        height: 24px;
        border: none;
        color: #fff !important;
        box-shadow: none;
        font-size: $fs_xs;
        padding: 1px 6px;
    }

    .ant-radio-button-wrapper {
        background: transparent;
        border: none;
        font-size: $fs_xs;
        font-weight: 500;
        color: $cl_ADB1B8 !important;
        margin-left: 10px;
        padding: 1px 6px;
    }

    .ant-radio-button-wrapper:not(:first-child)::before {
        background-color: transparent;

    }

    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
        background-color: transparent;
    }

    .input-number-container {
        // border-radius: 0;

        .ipt_hover {
            color: $cl_71757A;
            height: 40px;
            line-height: 40px;
            font-weight: 500 !important;

        }

        .after {
            color: $cl_71757A !important;
            font-weight: 500 !important;

        }
    }

    .invesment-usdt {
        display: flex;
        background: #0C1014 !important;
        width: 100%;
        justify-content: space-between;
        text-align: center;
        padding: 5px;
        height: 42px;
        line-height: 32px;
        color: $cl_71757A;
    }

    .first-btn {
        width: 100%;
    }

    .factive {
        background-color: #222930 !important;
        text-align: center;
        color: #fff;
        border-radius: 4px;
    }

    .ant-form-item {
        margin-bottom: 13px;
    }
    .investment-price-input-num {
        .ant-form-item { 
            margin-bottom: 0 !important;
        }
    }
    .primary-btn {
        height: 40px !important;
        color: $white;
        border-radius: 3px !important;
    }

    .ant-checkbox-inner {
        background-color: transparent;
        border: 1px solid $cl_71757A;
    }
    .delta-icon {
        width: 12px;
        height: 3px;
        background: $cl_1E252B;
        margin: 20px 0px;
    }

    .decrement-button::after {
        top: -15px;
    }

    .active {
        text-decoration: underline;
    }


    .ant-slider-handle {
        position: absolute;
        width: 16px;
        margin-top: -7px;
        height: 16px;
        transform: translateX(-50%) rotate(45deg) !important;
        background-color: rgb(30, 35, 41);
        border-radius: 4px;
        border: 4px solid rgb(245, 245, 245);
        z-index: 20;
        cursor: grab;
        transition: box-shadow 0.2s ease 0s;
    }

    span.ant-slider-dot.ant-slider-dot-active {
        background: rgb(245, 245, 245);
    }

    .exchange-block_slider {
        margin: 18px 6px 6px 12px;
    }

}